body {
  background-color: orange;
}

#host img {
  float: right;
}

#answers li:hover {
  cursor: pointer;
}

.correctAnswer {
  box-shadow: 2px 2px 10px 10px green;
}

.wrongAnswer {
  box-shadow: 2px 2px 10px 10px red;
}

li span {
  margin-left: 20px;
}